<?xml version="1.0" encoding="UTF-8"?>
    <phpunit
            backupStaticAttributes="false"
            cacheTokens="false"
            colors="false"
            convertErrorsToExceptions="true"
            convertNoticesToExceptions="true"
            convertWarningsToExceptions="true"
            forceCoversAnnotation="false"
            mapTestClassNameToCoveredClassName="false"
            processIsolation="false"
            stopOnError="false"
            stopOnFailure="false"
            stopOnIncomplete="false"
            stopOnSkipped="false"
            strict="false"
            verbose="false"
    >

    <php>
        <env name="USER" value=""/>
        <env name="PASSWORD" value=""/>
        <env name="CUSTACCOUNT" value=""/>
        <env name="SALESORIGINID" value=""/>
    </php>

    <testsuites>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/SoapTypes</directory>
            </exclude>
        </whitelist>

    </filter>
</phpunit>
